

.cart_point{
  margin-top: 50px;

  h2{
    font-size: 1.5;
    font-weight: 100;
    margin-bottom: 30px;
  }

  h3{
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 30px;
  }

  .cart_inline{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .cart_defined{
    margin-top: 40px;
  }

  &_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    button{
      cursor: pointer;
      padding: 8px 5px;
      background: black;
      color: white;
      border: 0;

    }
  }
}