
.slider_parent{
  position: relative;
  width: 100%;
  height: 50vh;
  @media (max-width: 425px) {
    height: 35vh;
  }

  &_block{
    position: relative;
    height: 50vh;
    @media (max-width:425px) {
      height: 38vh;
    }

    .slider_item{
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute;
      opacity: 0;
      transition: .5s;
      @media (max-width:425px) {
        height: 280px;
      }
    }

    .activeSlider{
      opacity: 1;
    }
  }
  &_dots{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 3em;
    @media (max-width:425px) {
      margin-top: 0;
    }
  }
  
}